html{
    font-size: 18px;
}

table, tfoot, thead, tr, th, caption {
    border: 2px
     solid #af408a;
    padding: 0.5em;
   border-collapse: collapse;
   font-family: 'Times New Roman', Times, serif;
}